In [12]:
import json
import pandas as pd
import numpy as np

In [13]:
import re

In [14]:
from sqlalchemy import create_engine
import psycopg2

In [15]:
file_dir = 'C:/Users/films/Documents/GitHub/Movies-ETL'

In [16]:
# from config import db_password
import time

In [17]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv')
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [22]:
kaggle_metadata_df = pd.DataFrame(kaggle_metadata)
kaggle_metadata_df.sample()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
27539,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,52035,tt0007108,en,The Mystery of the Leaping Fish,"Coke Ennyday, the scientific detective, divide...",...,1916-06-11,0.0,25.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Mystery of the Leaping Fish,False,6.5,4.0

In [23]:
ratings_df = pd.DataFrame(ratings)
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [24]:
#  Add the clean movie function that takes in the argument, "movie".
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as', 'Arabic', 'Cantonese', 'Chinese,', 'French',
               'Hangul', 'Hebrew', 'Hepburn', 'Japanese', 'Literally', 'Mandarin',
               'McCune-Reischauer', 'Origninal title', 'Polish', 'Revised Romanization',
               'Romanized', 'Russian', 'Simplified', 'Traditional', 'Yiddish']:
        if key in movie:
                alt_titles[key] = movie[key]
                movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    return movie

In [3]:
# 1 Add the function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)

def function_name():
    # Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.
     movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])   

    # Open and read the Wikipedia data JSON file.
    
    
    # Write a list comprehension to filter out TV shows.
    

    # Write a list comprehension to iterate through the cleaned wiki movies list
    # and call the clean_movie function on each movie.
    

    # Read in the cleaned movies list from Step 4 as a DataFrame.


    # Write a try-except block to catch errors while extracting the IMDb ID using a regular expression string and
    #  dropping any imdb_id duplicates. If there is an error, capture and print the exception.
    try:
        
    except 

    #  Write a list comprehension to keep the columns that don't have null values from the wiki_movies_df DataFrame.
    

    # Create a variable that will hold the non-null values from the “Box office” column.

    
    # Convert the box office data created in Step 8 to string values using the lambda and join functions.
    

    # Write a regular expression to match the six elements of "form_one" of the box office data.
   
    # Write a regular expression to match the three elements of "form_two" of the box office data.
    

    # Add the parse_dollars function.
    
        
    # Clean the box office column in the wiki_movies_df DataFrame.

    
    # Clean the budget column in the wiki_movies_df DataFrame.
    

    # Clean the release date column in the wiki_movies_df DataFrame.
    

    # Clean the running time column in the wiki_movies_df DataFrame.
    
     
    # 2. Clean the Kaggle metadata.

    # 3. Merged the two DataFrames into the movies DataFrame.


    # 4. Drop unnecessary columns from the merged DataFrame.


    # 5. Add in the function to fill in the missing Kaggle data.


    # 6. Call the function in Step 5 with the DataFrame and columns as the arguments.


    # 7. Filter the movies DataFrame for specific columns.


    # 8. Rename the columns in the movies DataFrame.


    # 9. Transform and merge the ratings DataFrame.
    
    return wiki_movies_df, movies_with_ratings_df, movies_df

In [4]:
# 10. Create the path to your file directory and variables for the three files.
file_dir = '../Resources'
# The Wikipedia data
wiki_file = f'{file_dir}/wikipedia.movies.json'
# The Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'
# The MovieLens rating data.
ratings_file = f'{file_dir}/ratings.csv'

In [5]:
# 11. Set the three variables equal to the function created in D1.
wiki_file, kaggle_file, ratings_file = extract_transform_load()

In [6]:
# 12. Set the DataFrames from the return statement equal to the file names in Step 11. 
wiki_movies_df = wiki_file
movies_with_ratings_df = kaggle_file
movies_df = ratings_file

In [7]:
# 13. Check the wiki_movies_df DataFrame. 
wiki_movies_df.head()

In [8]:
# 14. Check the movies_with_ratings_df DataFrame.
movies_with_ratings_df.head()

In [9]:
# 15. Check the movies_df DataFrame. 
movies_df.head()